.btnHeart {
	font-size: 24px;
	outline: none;
}

#btn {
	outline: none;
}

.buttonContainer {
	width: 1.875em;
	height: 1.875em;
}

@media only screen and (max-width: 430px) {
	.btnHeart {
		font-size: 16px;
	}
	.buttonContainer {
		width: 100%;
		height: 100%;
		padding: 5px;
	}
}
@media only screen and (min-width: 430px) and (max-width: 650px){
	.btnHeart{
		font-size: 20px;
	}
}
