.divCelena {
	padding-left: 1.6rem;
	background-color: rgb(48 48 48 / 85%);
	color: rgb(255, 255, 255);
	width: 20%;
}

.title {
	width: 100%;
	margin-top: 1em;
}
.categoriesContainer{
	padding-left: 1.3rem;
}
@media only screen and (max-width: 430px){
	.divCelena h6{
		font-size: 14px;
	}
	.divCelena{
		width: 35%;
		padding-left: 1em;
		margin-bottom: -5em;
	}
	.categoriesContainer{
		font-size: 12px;
		padding-left: 1.9em;
	}
	.filterContainer{
		margin-left: 1em;
	}
}
@media only screen and (min-width:430px) and (max-width: 760px){
	.divCelena{
		width: 35%;
	}
}
