.div_cont_filter{
background-color: rgba(26, 24, 24, 0);
color: rgb(250, 250, 250);
}
.title{
    width: 100%;
}

@media only screen and (max-width: 430px){
    .title{
        font-size: 14px;
    }
}