.modal {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal.isOpen {
	display: flex;
}

.modalContainer {
	position: relative;
	padding: 1.5rem;
	min-width: 300px;
	max-width: 500px;
	min-height: 300px;
	max-height: 600px;
	overflow-y: auto;
	background-color: #fff;
	border-radius: 8px;
}

.modalClose {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}

.btnModal {
	background-color: #d54c4c;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid lightgray;
	color: white;
	border-radius: 4px;
}

.btnModal:hover {
	background-color: #8d2828;
}
