.totalvh {
	min-height: 100vh;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.home,
.products,
.categories,
.users,
.orders,
.brands {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.adminn {
	background-color: #eee;
	height: 100%;
	background-attachment: fixed;
	width: 100%;
	padding: 2rem 0;
}
