:root {
	--orderUserTableBackGround: white;
	--orderUserInputLineColor: lightgray;
	--fontColorToNoResult: gray;
}

.orderUserContainer {
	background-color: var(--orderUserTableBackGround);
	padding: 20px;
	margin-left: 250px;
	margin-right: 50px;
	border-radius: 10px 10px 10px 10px;
}

.orderUserPanel {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.orderUserFeatures {
	width: 50%;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
.orderUserInput {
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid var(--orderUserInputLineColor);
}

.orderUserInput[type='text'] {
	box-sizing: border-box;
	padding-left: 10px;
}

.orderUserNoResults {
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
	color: var(--fontColorToNoResult);
}
