{
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "off",
  "arrowParens': 'always",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "vueIndentScriptAndStyle": false,
}
