.tableEcommerce {
	font-family: 'Arial';
	border-collapse: collapse;
	color: black;
	background-color: rgb(255, 255, 255);
	margin-left:20%;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 10px 30px rgb(172, 171, 171);
}
.background{
	background-color: #eee;
	background-attachment: fixed;
	width: 100%;

}
.Container{
	margin-right: 10%;
	margin-left: 10%;
}

.filterContainer{
	display: flex;
	justify-content: center;
}
.btnContainer{
	display: flex;
	flex-direction: row-reverse;
	margin: 2rem;
}
.btnContainer button{
	padding: 6px 10px;
	border-radius: 10px;
	border: 0;
	background-color: rgb(228, 50, 50);
	color: white;
	font-weight: 700;
}
.tableEcommerce td,
.tableEcommerce th {
	border-bottom:0.5px solid rgba(128, 128, 128, 0.213);
	padding: 8px;
}

.tableEcommerce tr:nth-child(even) {
	/* background-color: #f2f2f2; */
}

.tableEcommerce tr:hover {
	background-color:rgb(228, 50, 50);
}

.tableEcommerce th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(228, 50, 50);
	color: white;
}
i{
	color: rgb(70, 70, 70);
	width:20px
}
button{
	background-color: transparent;
	border: 0;
}