.shoppingCartContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.shoppingCartMain {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: grey;
    margin-top: 5%;

}

.cartDiv {
    width: 70%;
    
}

.subtotalDiv {
   display: flex;
   justify-items: center;
   padding: 20px;
}

.gobackButton {
    width: 20%;
    margin-top: 20px;
    padding: 10px;
    background-color: #FF3C4A;
    color: white;
    font-weight: bold;
    border-style: hidden;
    border-radius: 10px;
}