.subtotalContainerMain {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 44%);
}

.subdivTotal {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 20px;
	border-top-color: rgb(226, 226, 226);
	border-top-style: solid;
	padding-top: 20px;
	border-top-width: 0.5px;
}

.paymentButton {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	background-color: #ff3c4a;
	color: white;
	font-weight: bold;
	border-style: hidden;
	border-radius: 10px;
}
.paymentButton:hover {
	background-color: #d4202d;
	transition: 200ms;
}
.paymentButton:active {
	background-color: #bd2d36;
}

.paymentCrypto {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	background-color: #ffbc3c;
	color: black;
	font-weight: bold;
	border-style: hidden;
	border-radius: 10px;
}
.paymentCrypto:hover {
	background-color: #ffa83c;
	transition: 200ms;
}
.paymentCrypto:active {
	background-color: #ffa83c;
}
