.container{
   background-color: white;
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    border-radius: 10px;
    justify-content: right;
}
.imgContainer{
    display: flex;
    justify-content: center;
    min-width: min-content;
}
.descriptionProduct{
   border-top: 1px solid gray;
   padding: 0 25%;
    margin: 0 auto;
}
.card{
    display: flex;
}
.productCard{
    text-align: left;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.productCard button{
    margin: 0 auto;
    font-size: 25px;
}