/* ----- GENERAL STYLES ----- */
.userOptionContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;

	min-width: 600px;

	margin-left: 10px;
	padding: 20px;
	border-radius: 10px;
}

.selectedOptionTitle {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

.selectedOptionCabecera {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* ----- Orders Panel Styles ----- */

.orderDetailContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 650px;

	padding: 10px;
	border-top: solid;
	border-top-color: rgb(204, 204, 204);
	border-width: 0.5px;
}

.SizeImagOrderDiv {
	width: 10%;
}

.sizeImagOrder {
	width: 50px;
}

.statusStyle {
	color: darkgreen;
	margin-top: 0px;
	margin-bottom: 0px;
}

.descriptionOrderStyle {

    display: flex;
	width: 40%;
    align-items: center;

}

.orderDiv {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: rgb(248, 248, 248);

    justify-content: space-between;

}

.orderNumberDiv {
	display: flex;
	justify-content: center;

	width: 100%;
	padding: 10px;
    font-size: 16px;

}

.statusDiv {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;

	width: 50%;

}

.totalOrderDiv {
	display: flex;
	justify-content: center;
	padding: 10px;

	width: 100%;
	font-size: 18px;
	color: rgb(63, 63, 63);
	font-weight: bold;
}
.totalOrderDiv p{
    width: max-content;

}
.detailIdButton {
	width: 40%;
	background-color: #ff3c4a;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 20px;

}
.buttons{
    display: flex;
}
.button{
    margin-right: 0.5em;
    margin-left: 0.5em;

}
.detailIdButton:hover {
	background-color: #d8303c;
}

.textGoDetail {
	margin-bottom: 0px;
	color: rgb(255, 255, 255);
}

/* ----- User Account Styles ------ */

.UserPersonalInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	padding: 30px;
	text-align: left;
}

.buttonEditUserinfo {
    padding: 10px;
    outline: none;
    margin-left: 20px;
    background-color: darkgrey;
    border-radius: 10px;
}

.nothingHere {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 40px;
}

.nothingHere2 {
	width: 50%;
	margin-top: 20px;
}

.orderAddressContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    border-radius: 10px;
    border-color: rgb(199, 199, 199);
    border-style: solid;
    border-width: 0.5px;
    padding: 20px;
    margin: 20px;

}

.orderAddressInnerContainer {
    display: flex;
    width: 80%;
}

@media only screen and (max-width: 430px) {
	/* ----- GENERAL STYLES ----- */

	.userOptionContainer {
        max-width: 192px;
		min-height: 400px;
		margin-left: 15px;
		padding: 15px;
		align-items: center;
        justify-content: flex-start;
        /* margin-right: 18px; */
	}

	/* ----- User Account Styles ------ */

	.UserPersonalInfo {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		padding: 10px;
		text-align: left;
        line-height: 1.5em;
	}
    .Tittle{
        font-size: 20px;
        margin-right: 0.5em;
    }
    .nothingHere {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* padding: 40px; */
        padding: 20px;
        margin-top: 4em;
    }
    .nothingHere h1{
        font-size: 16px;
    }
    .selectedOptionTitle{
        width: max-content;
    }
    .selectedOptionTitle h3{
        font-size: 24px;
    }
    .nothingHere2 {
        width: 100%;
        margin-top: 20px;
    }
    .containerOrder{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .orderDiv {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        width: 100%;
        background-color: rgb(248, 248, 248);
        margin-top: 0.5em;
    }
    .orderNumberDiv {
        width: 100%;
        padding: 10px;
    }
    .orderNumberDiv p {
        margin: 0;
    }
    .statusDiv {
        padding: 10px;
        height: max-content;
        width: 100%;
    }
    .statusDiv p{
        height: 100%;
        margin: 0;
    }
    .totalOrderDiv{
        width: 100%;
        height: 100%p;
    }
    .totalOrderDiv p{
        margin: 0;
    }
    .detailIdButton{
        margin: 5px 0;
        width: 100%;
    }
    .orderDetailContainer{
		flex-direction: column;
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
        border-top: solid;
        border-top-color: rgb(204, 204, 204);
        border-width: 0.5px;
	}
    .descriptionOrderStyle{

        width: 90%;
        background-color: rgb(243, 242, 242);
        margin: 0.5em auto;
        padding: 10px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;

    }
    .sizeImagOrder{
        width: 100px;
    }
    .divData{
        background-color: rgb(243, 242, 242);
        padding: 8px;
        border-radius: 12px;
        margin-bottom: 1em;
    }
    .divData p{
        margin: 0
    }

    .SizeImagOrderDiv{
        width: 100%;
        margin-left: 2.5em;
    }
    .SizeImagOrderDiv img{
        margin: 0 auto;
    }

}
