.categoriesContainer {
	/* display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -5rem;
	color: black;
	background-color: #eee; */
	background-color: white;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 12px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	box-shadow: 0 0px 30px rgb(172, 171, 171);
}
.categoriesContainer h1 {
	padding: 0.5em 0em 1em 1em;
}

.tittleContainer {
	/* display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 400px; */
	padding: 0.5em 0em 1em 1em;
}
._container {
	width: 80%;
	margin-left: 20%;
}
.btnContainer {
	display: flex;
	flex-direction: row-reverse;
	margin: 0 2rem 2rem 0;
}
.btnContainer button {
	padding: 6px 10px;
	border-radius: 14px;
	border: 0;
	background-color: rgb(228, 50, 50);
	color: white;
	font-weight: 700;
}
.category {
	background-color: rgb(206, 206, 206);
	padding: 1rem;
	display: flex;
	margin: 1rem;
	border-radius: 12px;
}
.btnEdit {
	background-color: transparent;
	border: 0;
	border-radius: 10px;
	outline: none;
	margin: 0 1rem;
	font-size: 20px;
}

.btnEdit:hover {
	color: #cd113b;
}

.btnDelete:hover {
	color: #cd113b;
}

.btnDelete {
	font-size: 18px;
}
