.divCarrousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Carrousel{
	display: flex;
}
.IconsContainer{
	display: flex;
	flex-direction: row;
}
.icon {
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: white;
}

.containerIcon {
	width: 3em;
	height: 3em;
}

.icon:hover {
	color: #ff3c4a;
	padding: 2px;
}

@media only screen and (max-width: 430px) {
	.divCarrousel{
		flex-wrap: nowrap;
	}
	.containerIcon {
		width: 1em;
		height: 1em;
	}
}