.divCarrousel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: white;
}

.containerIcon {
	/* width: 3rem;
	height: 3rem; */
}

.icon:hover {
	color: #ff3c4a;
	padding: 2px;
}
