/* .watsonContainer {
	height: 100vh;
	width: 100%;
	background-color: beige;
} */
.divxxx{
  background-color: springgreen;
  width: 400px;
 
}
.container{
  text-align: center;
}
.inputChat{
  border: 0;
  border-bottom: 1px solid black;   
  height: 44px;
  max-width: 100%;
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-top: 14px;
}
.bot{
  background-color: rgb(152, 85, 212);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
  text-align: left;
  margin-top: 10px;
  padding: 4px;
  padding-left: 20px;
  max-width: 300px;
}
.user{
  background-color: rgb(0, 180, 160);
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 10px; 
  text-align: right;
  margin-top: 10px;
  padding: 4px;
  padding-right: 20px;
  max-width: 300px;
  margin-left: auto;
  margin-right: 0;
}
.chat{
  display: inline-block;
  max-width: 400px;
border-radius: 30px;
  background-color: royalblue;
}
.historyContainer{
  height:444px;
  overflow: scroll;
  background-color: salmon;
 
}
h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.botonCloseChat{

background-color: red;

}
.containerChating{
background-color: black;
}