.highlightProdContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	margin: 0.90em 1.70em;
	width: 280px;
	height: 22em;
	border-radius: 14px;
	padding: 0.625em;
	position: relative;

}

.buttonCrypto{
	display: flex;
	position: absolute;
	top: 1%;
	right: 1%;
	/* z-index: -1; */
	justify-content:flex-end;
	align-items: flex-end;
}

.highlightProdContainer:hover {
	transform: scale(1.1);
	transition: 400ms;
}

.ImageDiv {
	display: flex;
	height: 8.125em;
	justify-content: center;
}
.ImageDiv img {
	height: 100%;
}

.buyHighlightDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.75em;
}

.HighlightImagSize {
	width: 9.375em;
}

.HighlightTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	height: 7.5em;
	padding: 0.625em;
	color: rgb(84, 83, 83);
}

.highlightLinks {
	text-decoration: none;
}

.highlightLinks :hover {
	color: #ff3c4a;
	transition: 100ms;
}

.nameProduct {
	/* min-height: 4.4em;
	margin-top: 0.5em;
	margin-bottom: 0.5em; */
}
.priceProduct {
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
}

@media only screen and (max-width: 430px) {
	.HighlightTextContainer {
		font-size: 10px;
		margin-top: auto;
	}
	.highlightProdContainer {
		flex-direction: row;

		margin: 0.5em;
		width: 100px;
		height: 140px;
		border-radius: 14px;
	}
	.ImageDiv {
		height: 50px;
		
	}
	.highlightInfoContainer hr{
		padding: 0;
		margin:0;
	}
	.HighlightImagSize {
		width: 45px;
	}
	.priceProduct {
		font-size: 10px;
	}
	.buyHighlightDiv{
		display: none;
	}
	.highlightInfoContainer{
		display: flex;
		flex-direction: column-reverse;
	}

}
