.HighlightContainer {
	display: flex;
	justify-content: center;
	background-color: rgb(48 48 48 / 85%);
	margin-top: 3.125em;
	padding: 5%;
	margin-bottom: 0.625em;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 14px;
}

@media only screen and (max-width: 430px) {
	.HighlightContainer {
		
		margin-top: 3.125em;
		margin-left: 2%;
		margin-right: 2%;
		border-radius: 14px;
	}
}