#container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

#contenedorNumbers {
    width: 100%;
    align-items: center;

}

.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonPagin {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
}

.buttonPagin:hover { 
    background: whitesmoke; 
    color: black 
}

.active { 
    background: whitesmoke; 
    color: black;
    font-weight: bold; 
}

.prevNext {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    margin: 1rem;
}
@media only screen and (max-width: 430px){
    .prevNext{
        font-size: 14px;
        margin: 0.5em;
    }
}


