.chart-container-ecommerce {
	background-color: white;
	width: 80%;
	justify-content: space-around;
	align-items: center;
	display: flex;
	margin-left: 17.5%;
}

.chart-ecommerce {
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	
}

.chart-title {
	width: 100%;
	text-align: center;
	color: #555454
}
