.georgeTable {
	font-family: 'Arial';
	border-collapse: collapse;
	width: 100%;
}

.georgeTable td,
.georgeTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

.georgeTable tr:nth-child(even) {
	background-color: greenyellow;
}

.georgeTable tr:hover {
	background-color: indianred;
}

.georgeTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: indigo;
	color: white;
}
