.tableWrapper {
	overflow: auto;
	border-radius: 6px;
	border: 1px solid gray;
}

.tableComponentEcommerce {
	border-spacing: 0;
	border-collapse: collapse;
	border-style: hidden;

	width: 100%;
	max-width: 100%;
}

/* .tableComponentEcommerce {
	width: 100%;
	border-collapse: collapse;
} */

.tableComponentEcommerce td,
.tableComponentEcommerce th {
	padding: 12px 15px;
	text-align: center;
	font-size: 16px;
}

.tableComponentEcommerce th {
	border: 1px solid gray;
}

.tableComponentEcommerce th {
	background-color: rgb(228, 50, 50);
	color: #ffffff;
}

.tableComponentEcommerce tbody tr:nth-child(even) {
	background-color: #f1ecc3;
}

.tableComponentEcommerce tr:hover {
	background-color: #faebe0;
}

@media (max-width: 500px) {
	.tableComponentEcommerce thead {
		display: none;
	}

	.tableComponentEcommerce,
	.tableComponentEcommerce tbody,
	.tableComponentEcommerce tr,
	.tableComponentEcommerce td {
		display: block;
		width: 100%;
	}
	.tableComponentEcommerce tr {
		margin-bottom: 15px;
	}
	.tableComponentEcommerce td {
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.tableComponentEcommerce td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}
}
