.gmailSquare{
    text-transform:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoGmail{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: red;
}

.googleSignIn{
    margin-top:7px;
    margin-right:8px
}

#blue{
    background-color: blue;
    color: blue;
}