.loginContainer{
    border:2px solid black;
    width: 25%;
    margin: 0 auto;
    margin-top: 25%;
    padding: 5rem 5rem;
}
.formContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    
   
    
    
}