:root {
	--gray: #e9e9e9;
	--text: #686868;
}

.navbar {
	background-color: var(--gray);
	width: 100%;
	height: 80px;
	font-family: 'Arial';
	display: flex;
}

button:hover {
	cursor: pointer;
}

i {
	font-size: 25px;
}

.navbar .leftSide {
	flex: 50%;
	display: flex;
	justify-content: left;
	align-items: center;
}

.navbar .leftSide .links {
	max-height: 80px;
}

.navbar .leftSide .links a {
	text-decoration: none;
	color: var(--text);
	font-size: 25px;
	margin-left: 15px;
}

.navbar .leftSide button {
	display: none;
	margin-left: 20px;
}

.navbar .leftSide #hidden {
	display: flex;
}

.navbar .rightSide {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 25px;
}

/* .rightSide input {
	width: 220px;
	height: 30px;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	padding-left: 15px;
	color: black;
} */

.rightSide .search-btn {
	height: 32px;
	width: 70px;
	font-size: 16px;
}

@media only screen and (max-width: 880px) {
	.navbar .leftSide .links a {
		font-size: 20px;
	}
}

@media only screen and (max-width: 750px) {
	.navbar .leftSide .links a {
		font-size: 15px;
	}
}

@media only screen and (max-width: 650px) {
	.navbar .leftSide button {
		display: flex;
	}

	.navbar .leftSide .links {
		display: none;
	}

	.imgBox {
		display: none;
	}

	.navbar .leftSide #hidden {
		position: absolute;
		left: 0px;
		top: 80px;
		height: auto;
		max-height: 230px;
		width: 100%;
		background-color: var(--gray);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbar .leftSide #hidden a {
		margin: 10px;
		font-size: 25px;
	}
}

/* Search bar */
.auto-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}

input {
	padding: 10px;
	height: 10px;
	width: 200px; /* 500 */
	border: 1px solid purple;
	margin: 10px;
	margin-top: 12px; /* no estaba */
	font-size: 18px;
	text-transform: capitalize;
}

.pos-rel {
	position: relative;
}

.autoContainer {
	position: absolute;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: goldenrod;
	background-color: whitesmoke;
	right: 10px;
	top: 45px;
	width: 220px; /* 520 */
}

.option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 200px;
	padding: 5px;
	background-color: white;
}

.option:hover {
	cursor: pointer;
	background-color: lightgray;
}

.option,
span {
	font-size: 12px;
	text-transform: capitalize;
}

.flex-container {
	display: flex;
}

.flex-column {
	flex-direction: column;
}
