.navbarEcommerce {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	background-color: rgb(48 48 48 / 85%);
}

.searchBtnEcommerce {
	color: white;
	background-color: transparent;
	right: 35px;
	margin-top: 0px;
	width: 56px;
	height: 37px;
	border-color: transparent;
}

.searchBtnEcommerce i {
	font-size: 26px;
}
.searchBtnEcommerce:hover {
	color: #cd113b;
}

.navbarEcommerce .leftSideEcommerce {
	flex: 30%;
	display: flex;
	align-items: center;

}

.storeNameEcommerce {
	margin-left: 20%;
}

.linksNavEcommerce {
	flex: 30%;
	display: flex;
	justify-content: space-around;
	width: 500px;
	height: 100%;
	font-size: 24px;
	align-items: center;
}

.linksNavEcommerce a {
	color: white;
}

.linksNavEcommerce a:hover {
	color: #cd113b;
}

.navbarEcommerce .rightSideEcommerce {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Search bar */
.auto-containerEcommerce {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}

.inputEcommerce {
	padding: 10px;
	width: 350px;
	height: 35px;
	border: 1px solid #a2a3a4;
	border-radius: 5px;
	margin: 10px;
	margin-top: 12px;
	font-size: 18px;
	text-transform: capitalize;
	background-color: #626466;
	color: white;
}
.inputEcommerce:hover {
	background-color: #a2a3a4;
}
.posRelEcommerce {
	position: relative;
}

.autoContainerEcommerce {
	position: absolute;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	/* 	border-color: goldenrod; */
	border: none;
	right: 38%;
	top: 88%;
	width: 220px;
}

.optionEcommerce {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 350px;
	padding: 5px;
	background-color: white;
}

.optionEcommerce:hover {
	cursor: pointer;
	background-color: lightgray;
}

.optionEcommerce,
.spanEcommerce {
	font-size: 12px;
	text-transform: capitalize;
}

.flexColumnEcommerce {
	flex-direction: column;
}

.modalSearchContainerEcommerce {
	margin-top: 20px;
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 1120px) {
	.searchBtnEcommerce {
		right: 0px;
		top: 38px;
	}

	.inputEcommerce {
		width: 195px;
	}

	.autoContainerEcommerce {
		right: -15px;
		top: 88%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 220px;
	}

	.optionEcommerce {
		width: 195px;
	}
}

.but {
	background: none;
	border: none;
	color: white;
	font-size: 24px;
}
.but:hover {
	color: #cd113b;
	border: none;
	background: none;
}

.cartLogoContainer {
	display: flex;
	height: 100%;
	align-items: center;
}

.sectionsContainer {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(40 40 40 / 70%);
}

.sections {
	width: 30%;
	color: white;
	padding-left: 10%;
}

.sections a {
	color: white;
	margin-right: 1em;
	font-size: 22px;
}

.countCart {
	background-color: white;
	border-radius: 100%;
	width: 25px;
	height: 21px;
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: red;
	font-weight: 700;
	position: absolute;
	margin-bottom: 33px;
	margin-left: 19px;
}

/*
.navbarEcommerce .leftSideEcommerce .linksEcommerce {
	max-height: 80px;
}

.navbarEcommerce .leftSideEcommerce .linksEcommerce a {
	text-decoration: none;
	color: var(--text);
	font-size: 25px;
	margin-left: 15px;
}

.navbarEcommerce .leftSideEcommerce button {
	display: none;
	margin-left: 20px;
}

.navbarEcommerce .leftSideEcommerce #hidden {
	display: flex;
}

.navbarEcommerce .rightSideEcommerce {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 25px;
}

.rightSide input {
	width: 220px;
	height: 30px;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	padding-left: 15px;
	color: black;
}

.rightSideEcommerce .searchBtnEcommerce {
	height: 32px;
	width: 70px;
	font-size: 16px;
}

@media only screen and (max-width: 880px) {
	.navbarEcommerce .leftSideEcommerce .linksEcommerce a {
		font-size: 20px;
	}
}

@media only screen and (max-width: 750px) {
	.navbarEcommerce .leftSideEcommerce .linksEcommerce a {
		font-size: 15px;
	}
}

@media only screen and (max-width: 650px) {
	.navbarEcommerce .leftSideEcommerce button {
		display: flex;
	}

	.navbarEcommerce .leftSideEcommerce .linksEcommerce {
		display: none;
	}

	.imgBox {
		display: none;
	}

	.navbarEcommerce .leftSideEcommerce #hidden {
		position: absolute;
		left: 0px;
		top: 80px;
		height: auto;
		max-height: 230px;
		width: 100%;
		background-color: var(--gray);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbarEcommerce .leftSideEcommerce #hidden a {
		margin: 10px;
		font-size: 25px;
	}
}
*/
