.navbarEcommerce {
	width: 100%;
	height: 6.25em;
	display: flex;
	align-items: center;
	background-color: rgb(48 48 48 / 85%);
	border-bottom: 1px solid rgba(128, 128, 128, 0.261);
}

.searchBtnEcommerce {
	color: white;
	background-color: transparent;
	/* right: 2.1875em; */
	/* width: 3.5em; */
	/* height: 2.3125em; */
	border-color: transparent;
}

.searchBtnEcommerce i {
	font-size: 20px;
}
.searchBtnEcommerce:hover {
	color: #cd113b;
}

.navbarEcommerce .leftSideEcommerce {
	flex: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.linksNavEcommerce {
	flex: 40%;
	display: flex;
	justify-content: space-around;
	width: 31.25rem;
	height: 100%;
	font-size: 24px;
	align-items: center;
}

.linksNavEcommerce a {
	color: white;
	/* margin-left: -3em; */
}

.linksNavEcommerce a:hover {
	color: #cd113b;
}

.navbarEcommerce .rightSideEcommerce {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Search bar */
.auto-containerEcommerce {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 12.5em; */
}

.inputEcommerce {
	padding: 0.625rem;
	width: 21.875rem;
	height: 2.1875rem;
	border: 1px solid #a2a3a4;
	border-radius: 5px;
	margin: 0.625rem;
	margin-top: 0.75rem;
	font-size: 18px;
	text-transform: capitalize;
	background-color: #626466;
	color: white;
}
.inputEcommerce:hover {
	background-color: #a2a3a4;
}
.posRelEcommerce {
	position: relative;
}

.autoContainerEcommerce {
	position: absolute;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	/* 	border-color: goldenrod; */
	border: none;
	right: 38%;
	top: 88%;
	width: 13.75em;
	z-index: 1;
}

.optionEcommerce {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 21.875em;
	padding: 0.3125em;
	background-color: white;
}

.optionEcommerce:hover {
	cursor: pointer;
	background-color: lightgray;
}

.optionEcommerce,
.spanEcommerce {
	font-size: 12px;
	text-transform: capitalize;
}

.flexColumnEcommerce {
	flex-direction: row;
	display: flex;
}

.modalSearchContainerEcommerce {
	margin-top: 1.25em;
	width: 25em;
	height: 6.25em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.but {
	background: none;
	border: none;
	color: white;
	font-size: 24px;
}
.but:hover {
	color: #cd113b;
	border: none;
	background: none;
}

.cartLogoContainer {
	display: flex;
	height: 100%;
	align-items: center;
}

.sectionsContainer {
	width: 100%;
	height: 1.875em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(40 40 40 / 70%);
}

.sections {
	display: flex;
	justify-content: center;
	width: 70%;
	color: white;
	margin: 0 auto;
	/* padding-left: 10%; */
}

.sections a {
	color: white;
	margin-right: 1rem;
	font-size: 20px;
}
.sections a:hover {
	color: #cd113b;
}

.countCart {
	background-color: white;
	border-radius: 100%;
	width: 1.5625rem;
	height: 1.3125rem;
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: red;
	font-weight: 700;
	position: absolute;
	margin-bottom: 2.0625rem;
	margin-left: 1.1875rem;
}

.countFav {
	background-color: white;
	border-radius: 100%;
	width: 1.5625rem;
	height: 1.3125rem;
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: red;
	font-weight: 700;
	position: absolute;
	margin-top: -0.7rem;
	margin-left: 1.1875rem;
}
.IconsContainer {
	display: flex;
	margin-right: 1em;
}

@media only screen and (max-width: 1120px) {
	.searchBtnEcommerce {
		right: 0px;
		top: 2.375em;
	}

	.inputEcommerce {
		width: 12.1875em;
	}

	.autoContainerEcommerce {
		right: -0.9375em;
		top: 88%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width: 13.75em;
	}

	.optionEcommerce {
		width: 12.1875em;
	}
	.linksNavEcommerce {
		font-size: 18px;
	}

	.sections a {
		font-size: 16px;
	}
	.searchBtnEcommerce i {
		font-size: 16px;
	}
	.but{
		font-size: 18px;
	}
}
/* --------- FAVORITES BUTTON NAV BAR STYLE ------------ */
.favHeartContainer {
	display: flex;
	justify-content: center;
	width: 50px;
}

.NavBarbtnHeart {
	color: white;
	font-size: 2rem;
}
@media only screen and (max-width: 430px) {
	.inputEcommerce {
		width: 7rem;
		font-size: 12px;
	}
	.flexColumnEcommerce {
		/* margin-left: -5rem; */

		margin-right: 1em;
	}
	.searchBtnEcommerce {
		top: 2.375em;
	}

	.autoContainerEcommerce {
		right: 0;
		top: 75%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: normal;
		width: max-content;
		padding: 0.5em;
		height: 200px;
	}

	.optionEcommerce {
		width: 12.1875em;
	}
	.linksNavEcommerce {
		font-size: 14px;
		margin-right: 0.7em;
	}
	.linksNavEcommerce a {
		margin: 0.5em;
		display: flex;
	}
	.sections a {
		font-size: 12px;
	}
	.navbarEcommerce .rightSideEcommerce {
		flex: none;
	}
	.but {
		font-size: 14px;
		/* margin-right: -2em;
		margin-bottom: 1em; */
	}
	.countCart {
		padding: 3.5px 6px;
		border-radius: 100%;
		width: max-content;
	}
	.countCart p {
		font-size: 10px;
	}
	.IconsContainer {
		display: flex;
		margin-left: 1em;
	}
}
@media only screen and (max-width: 370px) {
	.flexColumnEcommerce {
		margin-right: 0em;
	}
}


@media only screen and (min-width:430px) and (max-width:650px){
	.storeNameEcommerce{
		margin-left: 8%;
	}
	.navbarEcommerce .rightSideEcommerce {
		flex: 30%;
	}
	.navbarEcommerce .leftSideEcommerce{
		flex: 15%;
	}
	.inputEcommerce{
		width: 8em;
		height: 2rem;
		font-size: 16px;
	}
	.linksNavEcommerce a{
		margin-left: 0;
	}
	.linksNavEcommerce{
		font-size: 16px;
	}
	.but{
		font-size: 16px;
	}
	.autoContainerEcommerce {
		right: 1.2em;
		top: 88%;
		white-space: normal;
		width: max-content;
		height: 14em;
	}
}
@media only screen and (min-width: 650px) and (max-width: 800px){
	.linksNavEcommerce{
		font-size: 16px;
		flex: 40%;
		justify-content: space-between;
	}
	.but{
		font-size: 16px;
	}
	.linksNavEcommerce a{
		width: max-content;
	}
	.autoContainerEcommerce {
		right: 1.5em;
		top: 88%;
		white-space: normal;
		width: max-content;
		height: 14em;
	}
	.optionEcommerce{
		width: 20em;
	}
	.favHeartContainer{
		margin-right: 5px;
		width: max-content;
	}
	.IconsContainer{
		margin-right: 0.5em;
	}
}
@media only screen and (max-width: 570px){
	.IconsContainer{
		margin-right: 0.5em;
	}
	.favHeartContainer{
		margin-right: 5px;
		width: min-content;
	}
	.linksNavEcommerce a{
		width: min-content;
	}
	.but{
		font-size: 14px;
	}
	.linksNavEcommerce{
		font-size: 14px;
	}
}
/* 
.navbarEcommerce .leftSideEcommerce .linksEcommerce {
	max-height: 80px;
}

.navbarEcommerce .leftSideEcommerce .linksEcommerce a {
	text-decoration: none;
	color: var(--text);
	font-size: 25px;
	margin-left: 15px;
}

.navbarEcommerce .leftSideEcommerce button {
	display: none;
	margin-left: 20px;
}

.navbarEcommerce .leftSideEcommerce #hidden {
	display: flex;
}

.navbarEcommerce .rightSideEcommerce {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 25px;
}

.rightSide input {
	width: 220px;
	height: 30px;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	padding-left: 15px;
	color: black;
}

.rightSideEcommerce .searchBtnEcommerce {
	height: 32px;
	width: 70px;
	font-size: 16px;
} */

/* @media only screen and (max-width: 880px) {
	.navbarEcommerce .linksNavEcommerce .leftSideEcommerce .linksEcommerce a {
		font-size: 12px;
	}
} */

/* @media only screen and (max-width: 750px) {
	.navbarEcommerce .leftSideEcommerce .linksEcommerce a {
		font-size: 15px;
	}
}

@media only screen and (max-width: 650px) {
	.navbarEcommerce .leftSideEcommerce button {
		display: flex;
	}

	.navbarEcommerce .leftSideEcommerce .linksEcommerce {
		display: none;
	}

	.imgBox {
		display: none;
	}

	.navbarEcommerce .leftSideEcommerce #hidden {
		position: absolute;
		left: 0px;
		top: 5em;
		height: auto;
		max-height: 14.375em;
		width: 100%;
		background-color: var(--gray);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.navbarEcommerce .leftSideEcommerce #hidden a {
		margin: 0.625em;
		font-size: 25px;
	}
}
 */
