.registerFormContainer {
    display: flex;
    background-color: #303030;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

#regForm {
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#row{
    display:flex;
    justify-content: center;
    
}

#input{
    margin: 1%
}

.registerButtonRow {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* #adminLabel{
    align-items: center;
    justify-content: center;
    display: flex;
} */





