.buttonCrypto {
	display: flex;
	position: absolute;
	top: 1%;
	right: 1%;
	/* z-index: -1; */
	justify-content: flex-end;
	align-items: flex-end;
}

.card:hover {
	transform: scale(1.1);
	transition: 300ms;
}

.cardsContainer {
	display: flex;
	width: 80%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 2em 3.5em 2em 3.5em;
}

.data {
	display: flex;
	padding-left: 1.25em;
	padding-right: 1.25em;
	color: #6c757d;
	min-height: 3.4em;
	text-align: left;
}

.lineProd {
	color: black;
	text-align: center;
}

#line {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	color: black;
}

.footerCard {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.productPrice {
	float: left;
	width: 50%;
	color: black;
	font-size: 22px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	margin-left: 1em;
	/* padding-left: 13px; */
}

.buttonBuy {
	float: left;
	width: 50%;
}

.buttonBuy button {
	font-family: 'Roboto', sans-serif;
	width: 5.5em;
	height: 1.875em;
	border-style: none;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	background-color: #ff3c4a;
}

.buttonBuy button:hover {
	background-color: #cc242f;
}

#btnBuy {
	outline: none;
}

.card {
	background-color: white;
	width: min-content;
	margin: 1rem 1.5rem;
	border-radius: 8px;
	height: 23em;
	position: relative;
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
	.card {
		background-color: white;
		width: min-content;
		margin: 1rem 0.5rem;
		border-radius: 8px;
		height: 23em;
	}
	.cardImage {
		padding: 20px;
	}
	.img {
		width: 9.375em;
		height: 9.375em;
	}

	.productName {
		font-size: 13px;
		font-weight: 500;
		text-align: left;
	}
}

@media only screen and (max-width: 2400px) and (min-width: 1301px) {
	.card {
		background-color: white;
		width: min-content;
		margin: 1rem 0.7rem;
		border-radius: 8px;
		height: 26.3125em;
	}
	.cardImage {
		padding: 1rem;
	}
	.img {
		width: 14.375em;
		height: 14.375em;
	}
	.productName {
		font-size: 15px;
		font-weight: 500;
		text-align: left;
	}
	.productPrice {
		float: left;
		width: 50%;
		color: black;
		font-size: 22px;
		font-weight: 500;
		/* padding-left: 50px;*/
	}
}

.buttonBuy button {
	width: 7.0625em;
}

@media only screen and (max-width: 430px) {
	.cardImage{
		width: 70%;
		margin: 0 auto;
	}
	.cardImage img {
		width: 100%;
		margin-top: 5%;
	}
	.footerCard{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.card {
		width: 170px;
		height: 16.3125em;
		padding: 0.5em;
	}
	.productName {
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		padding: 0;
	}
	.buttonCrypto {
		margin-top: -8%;
		margin-right: -6%;
		font-size: 8px;
	}
	.productPrice {
		font-size: 14px;
		margin: 0
		/* padding-left: 50px;*/
	}
	.data {
		padding: 0;
		min-height: 0;
	}
	.buttonBuy {
		float: none;
		flex-basis: 100%;
		font-size: 12px;
		margin-right: 50%;
		margin-top: 5%;
	}
	#btnBuy {
		font-size: 12px;
		
	}
	#line{
		margin:0.5em 5%
	}
	.cardsContainer {
	display: flex;
	width: 65%;
	justify-content: space-evenly;
	margin: 0;
}
}

/* ------------ FAVORITE BUTTON STYLE ------------- */

.heartDiv {
	display: flex;
	justify-content: flex-end;
	padding: 0.125em;
}